@CHARSET "UTF-8";
@import url("reset.css");

/*------------------------------------------------------------------------------------------------*/
/* banner */
#travel #Banner 		{background:url(http://gonylab8.speedgabia.com/halfmoonbay/banner/1.jpg) no-repeat 50% 50%;background-size:cover;}
#map #Banner 		{background:url(http://gonylab8.speedgabia.com/halfmoonbay/banner/2.jpg) no-repeat 50% 50%;background-size:cover;}
#reserve #Banner 		{background:url(http://gonylab8.speedgabia.com/halfmoonbay/banner/3.jpg) no-repeat 50% 50%;background-size:cover;}
#community #Banner 	{background:url(http://gonylab8.speedgabia.com/halfmoonbay/banner/4.jpg) no-repeat 50% 50%;background-size:cover;}
#food #Banner 	{background:url(http://gonylab8.speedgabia.com/halfmoonbay/banner/2.jpg) no-repeat 50% 50%;background-size:cover;}

/* thumbnail */
#index .MyFrame iframe {background:url(http://gonylab8.speedgabia.com/halfmoonbay/thumbnail/full.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape .MyFrame iframe {background:url(http://gonylab8.speedgabia.com/halfmoonbay/thumbnail/about.jpg) no-repeat 50% 50%;background-size:cover;}
#cafe .MyFrame iframe {background:url(http://gonylab8.speedgabia.com/halfmoonbay/thumbnail/cafe.jpg) no-repeat 50% 50%;background-size:cover;}

/*------------------------------------------------------------------------------------------------*/
/* index */
#index #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/1.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/2.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/3.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/4.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/5.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section06 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/6.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section07 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/7.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section08 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/8.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section09 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/9.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section10 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/10.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section11 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/11.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section12 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/12.jpg) no-repeat 50% 50%;background-size:cover;}
#index #section13 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/main/13.jpg) no-repeat 50% 50%;background-size:cover;}
/*------------------------------------------------------------------------------------------------*/
/* landscape */
#landscape #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/1.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/2.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/3.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/4.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/5.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape #section06 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/6.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape #section07 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/7.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape #section08 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/8.jpg) no-repeat 50% 50%;background-size:cover;}
#landscape #section09 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/exterior/9.jpg) no-repeat 50% 50%;background-size:cover;}
/*------------------------------------------------------------------------------------------------*/
/* room - detail */

.room_01 #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/1.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/2.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/3.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/4.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/5.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section06 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/6.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section07 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/7.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section08 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/8.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section09 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/9.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section10 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/10.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section11 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/11.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section12 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/12.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section13 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/13.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section14 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/14.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section15 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/15.jpg) no-repeat 50% 50%;background-size:cover;}
.room_01 #section16 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/16.jpg) no-repeat 50% 50%;background-size:cover;}

.room_02 #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/1.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/2.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/3.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/4.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/5.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section06 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/6.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section07 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/7.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section08 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/8.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section09 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/9.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section10 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/10.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section11 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/11.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section12 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/12.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section13 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/13.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section14 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/14.jpg) no-repeat 50% 50%;background-size:cover;}
.room_02 #section15 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/15.jpg) no-repeat 50% 50%;background-size:cover;}

.room_03 #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/1.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/2.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/3.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/4.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/5.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section06 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/6.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section07 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/7.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section08 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/8.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section09 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/9.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section10 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/10.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section11 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/11.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section12 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/12.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section13 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/13.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section14 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/14.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section15 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/15.jpg) no-repeat 50% 50%;background-size:cover;}
.room_03 #section16 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/16.jpg) no-repeat 50% 50%;background-size:cover;}

.room_04 #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/1.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/2.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/3.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/4.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/5.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section06 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/6.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section07 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/7.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section08 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/8.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section09 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/9.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section10 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/10.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section11 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/11.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section12 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/12.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section13 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/13.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section14 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/14.jpg) no-repeat 50% 50%;background-size:cover;}
.room_04 #section15 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/15.jpg) no-repeat 50% 50%;background-size:cover;}

.room_05 #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/1.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/2.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/3.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/4.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/5.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section06 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/6.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section07 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/7.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section08 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/8.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section09 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/9.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section10 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/10.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section11 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/11.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section12 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/12.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section13 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/13.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section14 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/14.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section15 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/15.jpg) no-repeat 50% 50%;background-size:cover;}
.room_05 #section16 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/1/16.jpg) no-repeat 50% 50%;background-size:cover;}

.room_06 #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/1.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/2.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/3.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/4.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/5.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section06 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/6.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section07 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/7.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section08 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/8.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section09 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/9.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section10 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/10.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section11 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/11.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section12 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/12.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section13 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/13.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section14 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/14.jpg) no-repeat 50% 50%;background-size:cover;}
.room_06 #section15 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/room/2/15.jpg) no-repeat 50% 50%;background-size:cover;}

/*------------------------------------------------------------------------------------------------*/
/* cafe */
#cafe #section01 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/cafe/1.jpg) no-repeat 50% 50%;background-size:cover;}
#cafe #section02 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/cafe/2.jpg) no-repeat 50% 50%;background-size:cover;}
#cafe #section03 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/cafe/3.jpg) no-repeat 50% 50%;background-size:cover;}
#cafe #section04 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/cafe/4.jpg) no-repeat 50% 50%;background-size:cover;}
#cafe #section05 {background:url(http://gonylab8.speedgabia.com/halfmoonbay/cafe/5.jpg) no-repeat 50% 50%;background-size:cover;}


